# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi
umask 027
HISTFILE="$HOME/.bash_history.$(logname)"

set -o vi

shopt -s histappend
shopt -s dotglob
shopt -s cmdhist

HISTSIZE=1000
HISTFILESIZE=1000000
HISTCONTROL=ignorespace
#HISTIGNORE='ls:bg:fg:history:du:df:'
HISTTIMEFORMAT="%d/%m/%y %T "
PROMPT_COMMAND='history -a'
